/* Custom styles
-------------------------------------------------- */
.navbar-default .navbar-nav>.active>a{background: #DD4B39; color: #fff;}

/* Markdown Editor Styles */


.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.CodeMirror-scroll {
  padding: 30px;
  box-sizing: border-box;
}

#in{
	width: 50%;
    float: left;
}

#out{
	width: 48%;
    float: left;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  #in {
    display: none;
  }
  #out {
    left: 0;
    padding-left: 10px;
  }
}

.view #in {
  display: none;
}
.view #out {
  left: 0;
  padding-left: 10px;
}

.CodeMirror pre{
  line-height: 16px;
}

.paginate {
    display: inline-block;
}

.paginate a, .paginate strong{
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;
    -moz-border-radius: 3px;
    border-radius: 3px;
}